
<div class="panel panel-default">
  <div class="panel-body title">
    <h1>{{'setupPage.title' | translate}}</h1>
    <p>{{'setupPage.description' | translate}}</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body installation-instructions">
    <h4>Installation Instructions</h4>
    <p>{{randomParagraph}}</p>
    <p>{{randomParagraph}}</p>
    <p>{{randomParagraph}}</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body troubleshooting">
    <h4>Troubleshooting</h4>
    <p>{{randomParagraph}}</p>
  </div>
</div>

